<h3>Kontakt VibeJewelry</h3>
<div class="page-text">
    Har du nogen spørgsmål eller har du brug for hjælp? <br>
    Udfyld formularen og tryk "Send", for at sende en besked til os, så svarer vi hurtigst muligt.
</div>

    <div id="form">
        <label for="name">Navn</label>
        <input id="name" type="tel">
    
        <label for="email">Email</label>
        <input id="email" type="email">
    
        <label for="message">Din besked</label>
        <textarea id="message"
        rows="10"
        cols="40"></textarea>
        <br>
        <div id="submit-button-wrapper">
            <button id="submit-button" class="contact-send-btn" type="submit">Send</button>
        </div>
    </div>
