#jewelry-wrapper{
    max-width: 1000px;
    margin: auto;
}

.single-jewelry {
    width: 400px;
    margin-bottom: 10px;
}

.single-jewelry-image {
    width: 250px;
    height: 250px;
}

.small-image {
    width: 100px;
    height: 100px;
}

.button {
    border-radius: 2em;
    border: 1px solid lightgrey;
    width: 150px;
    height: 30px;
}

#sold-out {
    margin: auto;
    background-color: #b6b6b6
}

#add-to-cart {
    background-color: #dfe09f
}