<h1>Opret bruger</h1>
<div id="form">
    <label for="username">Brugernavn</label>
    <input id="username" type="text" value="vibe">

    <label for="email">email</label>
    <input id="email" type="email" value="vibej@hotmail.com">

    <label for="pass">Adgangskode</label>
    <input id="pass" type="text" value="vibe">

    <label for="passConf">Bekræft adgangskode</label>
    <input id="passConf" type="text" value="vibe">

    <br>
    <div id="submit-button-wrapper">
        <button id="submit-button" class="green-button">Opret</button>
    </div>

    <br>
    Eller 
    <a href="/users/login">Log ind</a>
</div>