<img id="gold-image" src="/assets/images/marble-with-text.PNG" alt="gold">

<!--
<div class="picture-and-text"></div>
    <img id="gold-image" src="/assets/images/marble-smaller.jpg" alt="gold">

    <div class="centered">
        <h1>Quality is Queen</h1>
            <p>Hos VibeJewelry ved vi at kvalitet nøglen til din lykkelige fremtid med dit VibeJewelry. 
                <br>
                Derfor er alle vores smykker håndlavede af dygtige smykketeknikere, og lavet af enten sterlingsølv eller forgyldt sterlingsølv.
                <br>

            </p>
    </div>
</div>
-->