
/*80px høj*/
footer {
    height: 110px;
    font-size: 70%;
    margin-top: 100px;

    padding: 120px 0px;
    background-color: #f3f4ee;
    color: black !important
}

#footer-logo {
    display: block;
    /*width: 70%;*/
    height: 30px;
    margin: auto;
}

span {
    padding: 0 10px;
}

.footer-el {
    color: black;
    text-align: center;
    width: 33%;
}

/* unvisited link */
a.footer-el:link {
    text-decoration: none;
}
/* visited link */
a.footer-el:visited {
    text-decoration: none;
}
/* mouse over link */
a.footer-el:hover {
    color: black;
    font-weight: 800;
}
/* selected link */
a.footer-el:active {
    text-decoration: none;
}