
/*80px høj*/
footer {
    height: 50px;
    font-size: 70%;
    padding: 30px 0px 30px 0px;
    margin-top: 100px;

    background-color: #d9e9fc;

}

#footer-logo {
    display: block;
    /*width: 70%;*/
    height: 50px;
    margin: auto;
}

span {
    padding: 0 10px 0 10px;
}

.footer-el {
    color: #5b84b1;
    text-align: center;
    width: 33%;
}

a.footer-el {
    font-weight: bold;
}


/* unvisited link */
a.footer-el:link {
    text-decoration: none;
}
/* visited link */
a.footer-el:visited {
    color: #5b84b1;
}
/* mouse over link */
a.footer-el:hover {
    color: #5b84b1;
}
/* selected link */
a.footer-el:active {
    text-decoration: none;
}