#gold-image {
    width: 100%;
    border-width: 1px 0; /*får border top og bot*/
}

.image-wrapper {
    position: relative;
    margin-top: 50px;
    margin-bottom: 60px;
    width: 100vw;
}

.image-text {
    font-size: 3vw;
    position: absolute;
}



p {
    font-size: calc(2 * 1vw);
}

h1 {
    font-size: calc(3 * 1vw);
}

main {
    min-height: calc(100vh - 460px);
    text-align: center;
    font-size: 50%;
    box-sizing: content-box;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}