#gold-image {
    width: 100%;
    border-width: 1px 0; /*får border top og bot*/
}

.image-wrapper {
    position: relative;
    margin-top: 50px;
    margin-bottom: 60px;
    width: 100vw;
}

.image-text {
    font-size: 3vw;
    position: absolute;
}

.row-item-wrapper {
    width: 33%;
}

#jewelry-wrapper {
    margin: auto;
    width: 80vw;

    border-style: solid;
    border-color: lightgrey;
    border-width: 1px 0 0 0;
}

.align-left {
    text-align: left;
}

p {
    margin: auto;
    font-size: calc(12px + 0.5vw);
}

select {
    padding: 0 10px;
    cursor: pointer;
}

h1 {
    font-size: 3vw;
}

main {
    display: inherit !important;
}


#headline-row {
    margin: 50px auto 20px auto;
    width: 80vw;
    font-weight: 800;
}

.jewelry-row {
    width: 80vw;
    height: 160px;
    padding: 20px 0;

    border-style: solid;
    border-color: lightgrey;
    border-width: 0 0 1px 0;
}

.image {
    height: 100%;
    padding: 4px 0;
}

.actual-image {
    height: 100%;
}

.name {
    width: 40%;
}

.price {
    width: 15%;
}

.stock {
    width: 20%;
}

.total {
    font-weight: bold;
    position: relative;
    bottom: -30px;
}

.sold-out {
    font-weight: bold;
    color:rgb(238, 154, 154);
}

.remove {
    position: relative;
    top: -75px;
    right: -70px;
    cursor: pointer;
}

.actions-wrapper {
    display: flex;
    width: 20%;
}

.action {
    font-size: calc(12px + 0.3vw);
    margin: 0 5px;
    color: black;
}

.actions-hidden-headline {
    width: 20%;
}

.edit-link {
    border-radius: 2em;
    border: 1px solid lightgrey;
    padding: 2px 10px;
    background-color: #b6b6b6; /*rgb(168, 211, 168);*/
}
.delete-link {
    border-radius: 2em;
    border: 1px solid lightgrey;
    padding: 2px 10px;
    background-color: rgb(238, 154, 154);
}


/* unvisited link */
a.action:link {
    text-decoration: none;
}
/* visited link */
a.action:visited {
    color: black;
    /*color: #5b84b1;*/
}
/* mouse over link */
a.action:hover {
    color: black;
    /*color: #5b84b1;*/
}
/* selected link */
a.action:active {
    text-decoration: none;
}
